<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/admin_css.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <script src="./js/register.js"></script>
        <script src="./js/login.js"></script>
    </head>
    <body>
        <div class="container_whole" id="blur">
        <a class="top_btn" href="#top">
            <i class="fa fa-arrow-up" style="color:#fff; font-size:28px;"></i>
        </a>
        <img src="images/hotel_bg.jpg" id="bg" alt="">

        <div class="container py-0 nav_main">
            <nav class="navbar navbar-expand-lg nav_options">
                <div class="navbar-brand hotel_name_nav">hotel name</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
                  </span>
                </button>
                <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto text-right float-right">
                    <a id="logged-out-nav" class="nav-item nav-link btn_nav_login" href="logout">LOG OUT</a>       
                  </div>

                  </div>
                </div>
              </nav>
        </div>
        <div class="hotel_header">
            <div class="hotel_line">
                The Best Place To Stay
            </div>
            <div class="hotel_type">
                hotel & resort
            </div>
        </div>
        <div class="container-fluid px-0 content_con">
            <p class="welcome_admin">Welcome back, Administrator!</p>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Rooms</a>
                  <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Reservations</a>
                </div>
              </nav>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                  <p class="date_filter">Date and Room Type Filter</p>
                  <div class="col-sm-3 mx-auto book_form_label">
                    DATE
                    <input id="roomfilter"  class="form-control" readonly="readonly" value=<%-currDate%> />
                    <div class="form-group">
                      <label for="room" id="label_room">ROOM TYPE</label>
                      <select class="form-control" id="room" required>
                        <option>Single Room</option>
                        <option>Double Room</option>
                        <option>Triple Room</option>
                        <option>Quad Room</option>
                        <option>Queen Room</option>
                        <option>King Room</option>
                      </select>
                      <div class="valid-feedback">
                        <i class="fa fa-check" style="color: darkgreen; font-size:14;"></i>
                      </div>
                      <div class="invalid-feedback">Please fill out this field.</div>
                    </div>
                  </div>
                  <div class="apply_filter">
                    <button type="button" id="btn_filter" class="btn btn-secondary btn-sm" onclick="filter()">Apply Filter</button>
                  </div>
                  <br>
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Room No.</th>
                            <th scope="col">Type</th>
                            <th scope="col">Status</th>
                            <th scope="col">Occupant</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td id="rn1">101</td>
                            <td id="rt1">Single Room</td>
                            <td id="stat1"><%-rooms.room1%></td>
                            <td id="name1"><%-names.name1%></td>
                          </tr>
                          <tr>
                            <td id="rn2">102</td>
                            <td id="rt2">Single Room</td>
                            <td id="stat2"><%-rooms.room2%></td>
                            <td id="name2"><%-names.name2%></td>
                          </tr>
                          <tr>
                            <td id="rn3">103</td>
                            <td id="rt3">Single Room</td>
                            <td id="stat3"><%-rooms.room3%></td>
                            <td id="name3"><%-names.name3%></td>
                          </tr>
                          <tr>
                            <td id="rn4">104</td>
                            <td id="rt4">Single Room</td>
                            <td id="stat4"><%-rooms.room4%></td>
                            <td id="name4"><%-names.name4%></td>
                          </tr>
                          <tr>
                            <td id="rn5">105</td>
                            <td id="rt5">Single Room</td>
                            <td id="stat5"><%-rooms.room5%></td>
                            <td id="name5"><%-names.name5%></td>
                          </tr>
                        </tbody>
                      </table>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                  <p class="date_filter">Date Filter</p>
                  <div class="col-sm-3 mx-auto book_form_label">
                    CHECK IN
                    <input id="checkin"/>
                </div>
                <div class="col-sm-3 mx-auto book_form_label">
                    CHECK OUT
                    <input id="checkout"/>
                </div>
                <br>
                <div class="apply_filter">
                  <button type="button" class="btn btn-secondary btn-sm">Apply Filter</button>
                </div>
                <br>
                    <table class="table">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Date Start</th>
                            <th scope="col">Date End</th>
                            <th scope="col">Type</th>
                            <th scope="col">Room</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(var i = 0; i < pendingTransactions.length; i++){ %>
                            <tr>
                              <td id="pt_name"><%-pendingTransactions[i].Fullname%></td>
                              <td id="pt_checkin"><%-pendingTransactions[i].Checkin%></td>
                              <td id="pt_checkout"><%-pendingTransactions[i].Checkout%></td>
                              <td id="pt_roomtype"><%-pendingTransactions[i].RoomType%></td>
                              <td>
                                <select class="form-control">
                                  <option>101</option>
                                  <option>102</option>
                                  <option>103</option>
                                </select>
                              </td>
                              <td><button type="button" class="btn btn-secondary btn-sm">Confirm</button></td>
                              <td><button type="button" class="btn btn-secondary btn-sm">Reject</button></td>
                            </tr>
                          <%}%>
                          
                          <!-- <tr>
                          <tr>
                            <td>John</td>
                            <td>01/02/2022</td>
                            <td>01/05/2022</td>
                            <td>Single</td>
                            <td>
                              <select class="form-control">
                                <option>101</option>
                                <option>102</option>
                                <option>103</option>
                              </select>
                            </td>
                            <td><button type="button" class="btn btn-secondary btn-sm">Confirm</button></td>
                            <td><button type="button" class="btn btn-secondary btn-sm">Reject</button></td>
                          </tr>
                          <tr>
                            <td>Jane</td>
                            <td>02/14/2022</td>
                            <td>02/21/2022</td>
                            <td>Double</td>
                            <td>
                              <select class="form-control">
                                <option>101</option>
                                <option>102</option>
                                <option>103</option>
                              </select>
                            </td>
                            <td><button type="button" class="btn btn-secondary btn-sm">Confirm</button></td>
                            <td><button type="button" class="btn btn-secondary btn-sm">Reject</button></td>
                          </tr> -->
                        </tbody>
                      </table>
                </div>
              </div>
        </div>
       
        <%- include('./partials/footer.ejs') %>
    </div>

    <%- include('./partials/account_popup.ejs') %>

        <script>
            $('#checkin').datepicker({
              uiLibrary: 'bootstrap4',
              format: 'mm-dd-yyyy'
            });
            $('#checkout').datepicker({
              uiLibrary: 'bootstrap4',
              format: 'mm-dd-yyyy'
            });
            $('#roomfilter').datepicker({
              uiLibrary: 'bootstrap4',
              format: 'mm-dd-yyyy',
              todayHighlight: true,
            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function toggle(){
                var blur = document.getElementById('blur');
                blur.classList.toggle('active');
                var popup = document.getElementById('popup');
                popup.classList.toggle('active');

                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
                $("#register_error").hide();
            }
            function create_acc() {
                $("#form_login").hide();
                $("#form_createaccount").show();
                $("#register_error").hide();
            }
            function login() {
                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
            }
            function filter(){
              var selectedDate = $('#roomfilter').val();
              var roomType = $('#room').val();
              var multiplier;
              if(roomType == "Single Room"){
                updateRoomNum(100);
                updateRoomType("Single Room");
                multiplier = 100;
              }
              else if(roomType == "Double Room"){
                updateRoomNum(200);
                updateRoomType("Double Room");
                multiplier = 200;
              }
              else if(roomType == "Triple Room"){
                updateRoomNum(300);
                updateRoomType("Triple Room");
                multiplier = 300;
              }
              else if(roomType == "Quad Room"){
                updateRoomNum(400);
                updateRoomType("Quad Room");
                multiplier = 400;
              }
              else if(roomType == "Queen Room"){
                updateRoomNum(500);
                updateRoomType("Queen Room");
                multiplier = 500;
              }
              else if(roomType == "King Room"){
                updateRoomNum(600);
                updateRoomType("King Room");
                multiplier = 600;
              }
              $.get('filter-occupied-rooms', {selectedDate, roomType, multiplier}, function(result){
                $('#stat1').text(result.rooms.room1);
                $('#stat2').text(result.rooms.room2);
                $('#stat3').text(result.rooms.room3);
                $('#stat4').text(result.rooms.room4);
                $('#stat5').text(result.rooms.room5);
                $('#name1').text(result.names.name1);
                $('#name2').text(result.names.name2);
                $('#name3').text(result.names.name3);
                $('#name4').text(result.names.name4);
                $('#name5').text(result.names.name5);
              });
            }

            function updateRoomNum(multiplier){
              $('#rn1').text(multiplier + 1);
              $('#rn2').text(multiplier + 2);
              $('#rn3').text(multiplier + 3);
              $('#rn4').text(multiplier + 4);
              $('#rn5').text(multiplier + 5);
            }

            function updateRoomType(roomType){
              $('#rt1').text(roomType);
              $('#rt2').text(roomType);
              $('#rt3').text(roomType);
              $('#rt4').text(roomType);
              $('#rt5').text(roomType);
            }
        </script>
    </body>
</html>