<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/index_css.css">
        <link rel="stylesheet" href="./css/transactions_css.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
        <link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />
        <script src="./js/login.js"></script>
        <script src="./js/transactions.js"></script>
    </head>
    <body>
        <div class="container_whole" id="blur">
        <a class="top_btn" href="#top">
            <i class="fa fa-arrow-up" style="color:#fff; font-size:28px;"></i>
        </a>
        <img src="images/hotel_bg.jpg" id="bg" alt="">

        <div class="container nav_main">
            <nav class="navbar navbar-expand-lg nav_options">
                <div class="navbar-brand hotel_name_nav">robotel</div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon">
                    <i class="fa fa-bars" style="color:#fff; font-size:28px;"></i>
                  </span>
                </button>
                <div class="collapse navbar-collapse justify-content-start" id="navbarNavAltMarkup">
                  <div class="navbar-nav ml-auto text-right float-right">
                    <a class="nav-item nav-link" href="index">Home <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="rooms">Rooms</a>
                    <a class="nav-item nav-link" href="services">Services</a>
                    <a class="nav-item nav-link" href="#contactus_section">Contact Us</a>
                    
                    <%- include('./partials/account_button.ejs') %>

                  </div>
                </div>
              </nav>
        </div>
        <div class="container-fluid px-0 content_con" style="margin-top: 50px;">
            
            <div class="container-fluid py-5">
                <div class="container">
                    <div class="transactionslist_header">
                        Transactions
                    </div>
                    <div class="transactionslist_description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
                    </div>
                    <div class="transactionslist_grid mx-5 d-flex justify-content-center flex-column">
                        <div class="mt-3 align-self-start">
                            <select name="" id="transaction_filter" class="form-control">
                                <option value="" hidden></option>
                                <option value="All" <%= filter == 'All' ? 'Selected' : '' %>>All</option>
                                <option value="Final" <%= filter == 'Final' ? 'Selected' : '' %>>Final</option>
                                <option value="Pending" <%= filter == 'Pending' ? 'Selected' : '' %>>Pending</option>
                                <option value="Cancelled" <%= filter == 'Cancelled' ? 'Selected' : '' %>>Cancelled</option>
                            </select>
                            
                            <!-- <select name="" id="transaction_sort" class="form-control">
                                <option value="" hidden></option>
                                <option value="Ascending">Ascending</option>
                                <option value="Descending">Descending</option>
                            </select> -->

                            <a class="pl-3" id="apply_button" href="transactions" onclick="return filterTransaction();">Apply</a>
                            <button class="pl-3 btn btn-secondary" id="clear_button" href="#">Clear</button>
                        </div>
                        
                        <div class="row d-flex justify-content-around" id="transactions_container">
                            <div class="col-sm-12 py-5 d-flex justify-content-center flex-column" href="view_transactions" id="list_container">
                                <%for (var i = 0; i < bookings.length; i++) {%>

                                    <div class="card mb-5 border-0">
                                        <div class="card-body d-flex flex-row justify-content-between">
                                            <h5 class="card-title my-auto ">
                                                <a href="view_transactions?id=<%-bookings[i]._id%>">
                                                    <%-bookings[i].RoomType%>
                                                </a>
                                            </h5>
                                            <span class="">
                                                <span class="date1">
                                                    <%-(bookings[i].Checkin.getMonth() + 1)+ '/' + bookings[i].Checkin.getDate() + '/' + bookings[i].Checkin.getFullYear()%>
                                                </span>
                                                <span style="color: rgb(185, 185, 185);">to</span>
                                                <span class="date2">
                                                    <%-(bookings[i].Checkout.getMonth() + 1) + '/' + bookings[i].Checkout.getDate() + '/' + bookings[i].Checkout.getFullYear()%>
                                                </span>
                                                <span >
                                                    <%if (bookings[i].Status == "Final") {%>
                                        
                                                        <a href="#" type="button" class="btn_review_transaction" data-toggle="modal" data-target="#data_modal_review">
                                                            Review
                                                        </a>
                                        
                                                    <%} else if (bookings[i].Status == "Pending") {%>
                                                        <a href="#" class="btn_cancel_transaction" data-toggle="modal" data-target="#data_modal_cancel">Cancel</a>
                                                    <%} else {%>
                                                        <a href="#" class="btn_cancel_transaction" onclick="return false;">Cancelled</a>
                                                    <%}%>
                                                </span>
                                            </span>
                                        </div>
                                        <%if (bookings[i].Status == "Final") {%>
                                            <div class="border_bottom_done"></div>
                                        <%} else if (bookings[i].Status == "Pending") {%>
                                            <div class="border_bottom_active"></div>
                                        <%} else {%>
                                            <div class="border_bottom_cancelled"></div>
                                        <%}%>
                                    </div>

                                <%}%>
                               
                            </div>
                            
                        </div>


                    </div>
                </div>
            </div>
            
        </div>
       
        <%- include('./partials/footer.ejs') %>
    </div>

    <%- include('./partials/account_popup.ejs') %>

        <!-- Modal Review-->
        <div class="modal fade modal_review" id="data_modal_review" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content border-0 radius-5 px-3 pb-2" >
                    <div class="modal-header">
                    <h5 class="modal-title my-auto mr-5" id="data_modal_review">Review</h5>
                    <div class="rating"> 
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                    </div>
                    </div>
                    <div class="modal-body">
                        <form id="form_review" action="">
                            <input type="message" class="form-control" id="" placeholder="">
                        </form>
                    </div>
                    <div class="modal-footer">
                    <span class="btn_close_review px-2" >
                        <a href="#" data-dismiss="modal">Close</a>
                    </span>
                    <span class="btn_save_review">
                        <a href="#">Save changes</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal Cancel-->
        <div class="modal fade modal_cancel" id="data_modal_cancel" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="false">
            <div class="modal-dialog modal-dialog-centered" style="width: 300px;" role="document">
                <div class="modal-content border-0 px-3 pb-2">
                    <div class="modal-header">
                    <h5 class="modal-title my-auto mr-5" id="data_modal_cancel">Cancel reservation?</h5>
                    </div>
                    <div class="modal-footer">
                    <span class="btn_close_review px-2" >
                        <a href="#" data-dismiss="modal">No</a>
                    </span>
                    <span class="btn_save_review">
                        <a href="#">Yes</a>
                    </span>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $('#checkin').datepicker({
                uiLibrary: 'bootstrap4'
            });
            $('#checkout').datepicker({
                uiLibrary: 'bootstrap4'
            });
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script type="text/javascript">
            function toggle(){
                var blur = document.getElementById('blur');
                blur.classList.toggle('active');
                var popup = document.getElementById('popup');
                popup.classList.toggle('active');

                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
                $("#register_error").hide();
            }
            function create_acc() {
                $("#form_login").hide();
                $("#form_createaccount").show();
                $("#register_error").hide();
            }
            function login() {
                $("#form_login").show();
                $("#form_createaccount").hide();
                $("#login_error").hide();
            }
        </script>
    </body>
</html>